.projects {
    text-align:center;
    font-size:19px;
    padding: .5em;
}

.projectBtn {
    border: none;
    background-color: #fff;
    color: blue;
}

.task {
    padding: 1em;
    font-size: 15px;
    width: 100%;
}

.action {
    border:1px solid #ccc;
    border-radius: 15px;
    padding:.5em;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    color: rgb(65, 65, 228);
    width: 125px;
}

.deleteTask {
    float:right;
    margin-top:-10px;
    margin-left:15px;
    color:red;
    cursor: pointer;
}

td {
    width: auto;
    padding: .5em;
}

.status td {
    width: 250px;
}

table {
    table-layout: auto;
    width: 100%;
}