<div class="container">
    <div class="row">
    <div class="col-3" style="margin-top:50px;">
        <div class="card" style="display:inline-block;width:100%;">
            <div class="card-header">
                <h1>Projects</h1>
            </div>
            <div *ngIf="projects.length == 0; else showProjects;" style="text-align:center;">
                You have no projects yet.
            </div>
            <ng-template #showProjects>
                <div *ngFor="let project of projects" class="projects">
                    <button type="button" class="projectBtn" (click)="showProject(project)">{{ project.project_name }}</button>
                </div>
            </ng-template>
            <input type="text" class="field" style="margin-top:25px;" [(ngModel)]="projectName" placeholder="Project Name">
            <button mat-raised-button class="greenBtn" style="float:right;margin-top:15px;" (click)="addProject()">Add Project</button>
        </div>
        <div *ngIf="project!=null" class="card" style="margin-top:25px;">
            <div class="card-header">
                <h1>Project Status</h1>
                <table class="status">
                    <tr>
                        <td>Completed</td>
                        <td>{{ this.tasksCompleted }}</td>
                    </tr>
                    <tr>
                        <td>To Do</td>
                        <td>{{ this.tasksToDo }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-9" style="margin-top:50px;">
        <div class="card">
            <div class="row">
            <div class="col-3" style="padding:1em;padding-left:2em;">
                <h1 *ngIf="project==null">Tasks</h1>
                <h1 *ngIf="project!=null">{{ project.project_name }}</h1>
            </div>
            <div class="col-9" style="text-align:right;" *ngIf="project!=null">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" style="float:right;">
                    <button mat-menu-item (click)="deleteProject()">
                      <mat-icon>delete</mat-icon>
                      <span>Delete Project</span>
                    </button>
                  </mat-menu>
            </div>
            </div>
            <div *ngIf="project==null; else showProjectTasks" style="text-align:center;height:300px;margin-top:100px;font-size:16px;">
                Select a project to manage tasks.
            </div>
            <ng-template #showProjectTasks>
                <div class="row">
                    <div class="col-8">
                        <input type="text" class="field" placeholder="New Task" [(ngModel)]="newTask.Description" style="margin-bottom:15px;">   
                    </div>
                    <div class="col-4">
                        <input type="text" class="field" placeholder="Category" [(ngModel)]="newTask.Category" style="margin-bottom:15px;">   
                    </div>
                    <div class="col-12">
                        <button mat-raised-button class="greenBtn" style="float:right;margin-top:15px;" (click)="addTask()">Add Task</button>
                    </div>
                    <div class="col-12" style="margin-top:50px;">
                        <table>
                        <tr *ngFor="let log of logs" class="task">
                            <td style="width:75%;padding-left:2em;">{{ log.Description }}</td>
                            <td><button type="button" class="action" (click)=markAsDone(log)>Mark as Done</button></td>
                            <td style="width:25px;"> <i class="material-icons deleteTask" (click)="deleteTask(log)">delete</i></td>
                        </tr>
                        </table>
                    </div>
                    <div class="col-12" style="margin-top:25px;">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Completed
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="logTable">

                                <ng-container matColumnDef="date">
                                  <th mat-header-cell *matHeaderCellDef>Date</th>
                                  <td mat-cell *matCellDef="let log"> {{log.Date}} </td>
                                </ng-container>
                            
                                <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef>Description</th>
                                    <td mat-cell *matCellDef="let log"><a [routerLink]="['/view-log', log.Id]">{{ log.Description }} </a></td>
                                </ng-container>
                
                              <!-- <ng-container matColumnDef="markToDo">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let log"><button class="action" (click)="markToDo(log)">Mark To Do</button></td>
                            </ng-container> -->

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>
                              
                              <mat-paginator [pageSizeOptions]="[10, 25, 50]"style="margin-top:25px;"></mat-paginator>
                            </mat-expansion-panel>
                          </mat-accordion>  
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    </div>
</div>