<div class="container d-flex justify-content-center">
<div class="col-12" style="margin-top: 25px;">
    <div class="field-container">
        <label><h1>Title</h1></label><input type="text" [(ngModel)]="log.title" class="field">
    </div>
    <div class="field-container">
        <label><h1>Category</h1></label><input type="text" [(ngModel)]="log.category" class="field">
    </div>
    <div class="field-container">
        <label><h1>Date</h1></label><br><input type="date" [(ngModel)]="log.date" class="field">
    </div>
    <div class="field-container">
        <label><h1>Description</h1></label><br><textarea type="text" [(ngModel)]="log.description"></textarea>
    </div>
    <div class="col-12" style="margin-bottom: 50px;">
        <button mat-raised-button class="greenBtn" style="float:right;margin-bottom:25px;" (click)="addLog()" mat-button matDialogClose="yes" >Add</button>
    </div>
</div>
</div>
